@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

body {
	font-family: 'Montserrat', sans-serif;
}
